{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center bg-gray-100 w-full ">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-2xl font-bold mb-6 text-center">Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="mb-4">
                {{ form_row(registrationForm.email, {
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded'}
                }) }}
            </div>
            <div class="mb-4">
                {{ form_row(registrationForm.plainPassword, {
                    'label': 'Password',
                    'attr': {'class': 'w-full p-2 border border-gray-300 rounded'}
                }) }}
            </div>
            <div class="mb-4">
                {{ form_row(registrationForm.agreeTerms, {
                    'attr': {'class': 'mx-2'}
                }) }}
                <label for="registrationForm_agreeTerms" class="text-sm">I agree to the terms and conditions</label>
            </div>
            <div class="text-center">
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Register</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}