{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="container mx-auto p-4 ">
		<div class="w-full flex justify-around mt-4">
			<a href="{{ path('coaster_list') }}" 
			class="p-4 rounded-lg text-white font-semibold shadow-md 
					{% if app.request.get('_route') == 'coaster_list' %}
						bg-blue-500 hover:bg-blue-600
					{% else %}
						bg-gray-500 hover:bg-gray-600
					{% endif %}">
				Coasters
			</a>
			<a href="{{ path('park_list') }}" 
			class="p-4 rounded-lg text-white font-semibold shadow-md 
					{% if app.request.get('_route') == 'park_list' %}
						bg-blue-500 hover:bg-blue-600 
					{% else %}
						bg-gray-500 hover:bg-gray-600
					{% endif %}">
				Parcs
			</a>
		</div>
		<h1 class="text-2xl font-bold mb-4">Rechercher un coaster :</h1>

		<form method="get" action="{{ path('coaster_list') }}" class="flex justify-around space-x-4 ">
			<div class="flex items-center w-full">
				<input type="text" name="q" placeholder="Nom du coaster" value="{{ app.request.query.get('q') }}" 
					class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">
			</div>
			<div class="flex items-center w-full">
				<select name="country" class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500">
					<option value="">-- Pays --</option>
					{% for country in countries %}
						<option value="{{ country }}" {% if app.request.get('country') == country %} selected {% endif %}>{{ country|trans({}, 'countries') }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="flex items-center w-full">
				<select name="materialType" class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500">
					<option value="">-- Type de matériau --</option>
					{% for materialType in materialTypes %}
						<option value="{{ materialType.id }}" {% if app.request.get('materialType') == materialType.id %} selected {% endif %}>
							{{ materialType.name|trans({}, 'material') }}
						</option>
					{% endfor %}
				</select>
			</div>
			<div class="flex items-center w-full">
				<label for="openingDate" class="sr-only">Ouvert depuis :</label>
				<input type="date" name="openingDate" value="{{ app.request.get('openingDate') }}" class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">
			</div>
			<button type="submit" class="ml-2 px-4 py-2 bg-gray-500 text-white font-semibold rounded-md shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-75">Rechercher</button>
		</form>

		<h2 class="text-2xl font-semibold underline mb-4">Liste des coasters :</h2>
		<ul class="space-y-4">
			{% for coaster in coasters %}
				<a href="{{ path('coaster_details', {'name': coaster.name}) }}" class="text-xl">
					<li class="p-4 flex space-x-4 bg-white rounded-lg shadow-md hover:bg-gray-100 items-center">
						<img src="{{ coaster.mainImage }}" alt="Image du coaster" class="w-40 h-20 rounded-lg">
						<div>
							<h3 class=" font-semibold">{{ coaster.name }}</h3>
							<p>{{ coaster.park.name }}</p>
							{% if app.user %}
								{% if coaster in favoriteCoasters %}
									<a href="{{ path('favorite_coaster_remove', { name: coaster.name }) }}" class="text-red-500 hover:underline ml-4">
										Remove
									</a>
								{% else %}
									<a href="{{ path('favorite_coaster_add', { name: coaster.name }) }}" class="text-green-500 hover:underline ml-4">
										Add to Favorites
									</a>
								{% endif %}
							{% endif %}
						</div>

					</li>
				</a>
			{% endfor %}
		</ul>


		<div class="mt-4">
			{% if currentPage > 1 %}
				<a href="{{ path('coaster_list', app.request.query.all|merge({'page': currentPage - 1})) }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md shadow-md hover:bg-gray-400">Précédent</a>
			{% endif %}
			<span class="px-4 py-2">Page {{ currentPage }} sur {{ totalPages }}</span>
			{% if currentPage < totalPages %}
				<a href="{{ path('coaster_list', app.request.query.all|merge({'page': currentPage + 1})) }}" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md shadow-md hover:bg-gray-400">Suivant</a>
			{% endif %}
		</div>

	{% endblock %}
