<!doctype html>
<html>
<head>
    <meta lang="fr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frissons&Virages</title>
    <link rel="icon" type="image/png" href="{{ asset('images/logoFetVi.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body >
{{ include('partials/header.html.twig') }}
<main>
    {% block body %}
    {% endblock %}
</main>
{{ include('partials/footer.html.twig') }}
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>