{% extends 'base.html.twig' %}

{% block title %}Détails du coaster{% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <div class="bg-white rounded-lg shadow-md p-6">
            <h1 class="text-5xl font-bold text-center mt-4 mb-20">{{ coaster.name }}</h1>
            <div class="flex justify-between mx-10">
                <img src="{{ coaster.mainImage }}" alt="{{ coaster.name }}" class="w-[40%] h-64 object-cover rounded-md mb-4">
                <div class="mb-4 space-y-4">
                    <h2 class="text-2xl font-semibold mb-2 underline">Les caractéristiques :</h2>
                    <p class="text-lg"><strong>Hauteur:</strong> {{ coaster.height }} m</p>
                    <p class="text-lg"><strong>Longueur:</strong> {{ coaster.length }} m</p>
                    <p class="text-lg"><strong>Vitesse:</strong> {{ coaster.speed }} km/h</p>
                    <p class="text-lg"><strong>Fabricant:</strong> {{ coaster.manufacturer.name }}</p>
                    <p class="text-lg"><strong>Modèle:</strong> {{ coaster.model.name }}</p>
                    <p class="text-lg"><strong>Statut:</strong> {{ coaster.status.name|trans }}</p>
                    <p class="text-lg"><strong>Nombres de launches:</strong> {{ coaster.launches.count}}</p>
                    <p class="text-lg"><strong>Types de launches</strong></p>
                    {% for launche in coaster.launches %}
                        <p class="text-lg">{{ launche.name|trans }}</p>
                    {% endfor %}
                </div>
                <div class="mb-4 space-y-4">
                    <h2 class="text-2xl font-semibold mb-2 underline ">Le parc :</h2>
                    <p class="text-lg">{{ coaster.park.name }}</p>
                    <p class="text-lg">{{ coaster.park.country|split('.')|last|capitalize }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}